<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h6>An error occurred while processing your request.</h6>
    </hgroup>
</body>
</html>
