
@{
    ViewBag.Title = "Feedback";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/Styles/Product/Feedback.css" rel="stylesheet" />

<main class="feedback-success">

    <div class="feedback-success-image">
        <img src="~/Content/Assets/Utility/FeedbackSubmitted.jpg" />
    </div>

    <h3>Your precious feedback has been submitted</h3>

</main>

