.admin-index{
    height: calc(100vh - 4.5rem);
    background: #fff;
    display: grid;
    place-items: center;
    padding: 0 1rem;
}

.admin-index .index-container {
    width: 90%;
    max-width: 70.25rem;
    height: 80%;
    display: flex;
    gap: 1rem;
    background: rgb(247, 250, 252);
    padding: 1rem;
    border-radius: 0.3rem;
}

.admin-index .user-count-card, .admin-index .total-revenue-card{
    height: max-content;
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    border-radius: 0.5rem;
    box-shadow: 1px 1px 5px rgba(128, 128, 128, 0.3);
}


.admin-index .user-count-card .user-details, .admin-index .total-revenue-card .revenue-details{
    text-align: center;
    margin-top: 1rem;
}

.admin-index .user-count-card .user-details h5,
.admin-index .total-revenue-card .revenue-details h5{
    font-size: 1rem;
}

.admin-index .user-count-card .user-details h6,
.admin-index .total-revenue-card .revenue-details h6{
    font-size: 0.8rem;
    font-weight: 300;
    text-wrap: wrap;
    initial-letter-wrap: all;
    margin-top: 0.3rem;
}


/* Media Queries */

@media screen and (max-width: 431px) {
    .admin-index .all-users {
        grid-template-columns: 1fr;
    }
}