.admin-dashboard-product{
    padding-right: 1rem;
}

.admin-dashboard-product .product-action-container {
    max-width: 71.375rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 1rem;
}

.admin-dashboard-product .product-action-card{
    background: #fff;
    padding: 1rem;
    border-radius: 0.3rem;
    box-shadow: 1px 1px 5px rgba(128, 128, 128, 0.3);
}

.admin-dashboard-product .product-card-header{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

.admin-dashboard-product .product-card-header h4{
    font-size: 1rem;
    font-weight: 300;
}

.admin-dashboard-product  .product-card-footer{
    display: flex;
    justify-content: space-between;
}

.admin-dashboard-product  .product-card-footer h5{
    font-size: 1rem;
}

.admin-dashboard-product  .product-card-footer a{
    background: rgb(49, 134, 22);
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;
}

.admin-dashboard-product  .product-card-footer a:hover{
    background: rgb(39, 125, 15);
}

/* Media Queries */

@media screen and (max-width: 854px){
    .admin-dashboard-product{
        padding-left: 1rem;
    }
}