.admin-all-categories-container{
    height: calc(100vh - 4.5rem);
    background: #fff;
    display: grid;
    place-items: center;
    padding: 0 1rem;
}

.admin-all-categories-container .all-categories {
    width: 95%;
    max-width: 70.25rem;
    height: 80%;
    background: rgb(247, 250, 252);
    padding: 1rem;
    overflow-y: scroll;
    scrollbar-width: none;
    border-radius: 0.3rem;
}

.admin-all-categories-container .category-card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(13rem, 1fr));
    gap: 1rem;
}

.admin-all-categories-container .category-card{
    height: max-content;
    background: #fff;
    padding: 0.5rem;
    border-radius: 0.3rem;
}

.admin-all-categories-container .category-card img{
    height: 11.77rem;
    object-fit: cover;
    border-radius: 0.5rem;
}

.admin-all-categories-container .category-card .category-details{
    margin-top: 1rem;
}

.admin-all-categories-container .category-card .category-details h6{
    font-size: 0.9rem;
}


/* Media Queries */

@media screen and (max-width: 870px){
    .admin-all-categories-container .category-card-container {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .admin-all-categories-container .category-card img {
        height: 8.77rem;
    }
}

@media screen and (max-width: 521px) {
    .admin-all-categories-container {
        padding: 0 0.5rem;
    }

    .admin-all-categories-container .all-categories {
        padding: 0.5rem;
   
    }

    .admin-all-categories-container .category-card-container {
        grid-template-columns: 1fr 1fr;
        gap: 0.5rem;
    }

    .admin-all-categories-container .all-categories {
        width: 98%;
    }

    .admin-all-categories-container .category-card img {
        height: 8.77rem;
    }

}

@media screen and (max-width: 421px) {

    .admin-all-categories-container .category-card-container {
        grid-template-columns: 1fr;
    }

    .admin-all-categories-container .category-card img {
        height: 7.77rem;
    }

}