
@model List<Hutch.Models.Feedback>

@{
    ViewBag.Title = "ViewProductFeedback";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<link href="~/Content/Styles/Admin/ViewProductFeedback.css" rel="stylesheet" />

<main class="admin-product-feedback-container">

    <div class="product-feedback">

        @if (Model.Count <= 0)
        {
            <h6>No feedback is available</h6>
        }
        else
        {
            <div class="product-feedback-card-container">

            @foreach (var feedback in Model)
            {
                <div class="feedback-card @(feedback.f_message.Length > 150 ? "wide" : feedback.f_message.Length > 50 ? "big" : "small") ">
                    <div class="feedback-details">

                        <div class="feedback-user-name">
                            <h6>@feedback.name</h6>
                        </div>
                        <p>@feedback.f_message</p>
                    </div>
                </div>
            }

            </div>
        }

    </div>
</main>
